body{
   margin: 0px;
}


#box1{
    border: 5px solid;
    width: 250px;
    height: 250px;
    font-size: 22px;
    background: rgb(149, 222, 15);
    padding: 10px;
    
    margin-right: auto;
    margin-left:auto ;
    
}
#box2{
    border: 5px solid;
    width: 250px;
    height: 250px;
    font-size: 22px;
    background: blue;
    
}