#box1{
    width: 250px;
    height: 250px;
    background: red;
    font-size: 225px;
    text-align: center;
/*
    animation: mySlide;
    animation-play-state: running;
    animation-iteration-count: infinite;
    animation-delay: 0s;
    animation-timing-function:ease-in;
    animation-duration: 5s;
    */
     animation: 3s linear 0s inifnte running mySlide;
    
}

@keyframes mySlide{
    from{margin-left: 100%;}
    to{margin-left: 0%;}
}
@keyframes myRotate{
    100%{transform: rotateX(360deg);}
}