a:link{
    color: aqua;
}
a:visited{
    color: grey;
}
a:hover{
    color: blue;
}
a:active{
    color: yellow;
}
button:hover{
    background-color: aqua;
}
button:active{
    background-color: red;
}
/*
li:nth-child(1){
    background-color: yellow;
}
li:nth-child(2){
    background-color:rgb(0, 255, 47);
}
li:nth-child(even){
    background-color:maroon;
}
li:nth-child(odd){
    background-color:aqua;
}
    */
li:nth-child(3n+1)  {
    background-color: chocolate;
}  
