#box1{
    border: 1px solid;
    height: 300px;
    width: 300px;
    background-color: skyblue;
    position: relative;
    
}

#box2{
    border: 1px solid;
    height: 100px;
    width: 100px;
    background-color: rgb(254, 2, 2);
    position: absolute;
    top: 100px;
    left: 100px;


}