body{
    background-color: black;
    background-repeat:no-repeat;
    background-attachment: fixed;
    background-image: url(1087741.jpg);
    background-position:center;
    background-size: cover
    ;
}

h1{
    background: linear-gradient(skyblue,rgb(255, 255, 255));
    color: rgb(9, 9, 9);
    font-family: "Press Start 2P";
    border-top: dotted;
    border-bottom: dotted;
    border-left: dotted;
    border-right: dotted;
    border-left-color: orange;
    
}
p{
    background: linear-gradient(skyblue,#fdfffd);
    color: rgb(20, 20, 20);
    font-family: "consolas",sans-serif;
    font-style:italic;
    font-weight: bold;
    text-decoration:  cyan double underline;
    font-size: 20px;
    border-style: outset;
    border-width: 5px;
    border-color: gold;
    border-radius: 10px;
    padding: 5px;
    
}